<section class="list-of-airport">
  <h3 class="section-title">List of Available Airports</h3>
  
  <table class="airport-table">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
  
    <tbody>
      <% airports.each do |airport| %>
        <tr>
          <td><%= airport.code %></td>
          <td><%= airport.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>