<h1>Odin Flight Booker</h1>
<h2>Your One-Stop Shop for Flights</h2>

<%= render "flight_search_form" %>

<% unless @flights.empty? %>
  <%= render "flight_result_form", flights: @flights %>
<% else %>
  <p>Please select your flight details</p>
  <%= render "list_of_airports", airports: @airports %>
<% end %>